Source: ros-kilted-twist-mux
Section: misc
Priority: optional
Maintainer: Bence Magyar <bence.magyar.robotics@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-cmake-xmllint <!nocheck>, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-diagnostic-updater, ros-kilted-geometry-msgs, ros-kilted-launch <!nocheck>, ros-kilted-launch-testing <!nocheck>, ros-kilted-launch-testing-ament-cmake <!nocheck>, ros-kilted-launch-testing-ros <!nocheck>, ros-kilted-rclcpp, ros-kilted-std-msgs, ros-kilted-visualization-msgs, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-twist-mux
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-diagnostic-updater, ros-kilted-geometry-msgs, ros-kilted-rclcpp, ros-kilted-std-msgs, ros-kilted-twist-mux-msgs, ros-kilted-visualization-msgs, ros-kilted-ros-workspace
Description: Twist multiplexer, which multiplex several velocity commands (topics) and allows to priorize or disable them (locks).
